
<div>
  <div style="position: absolute; top: 50px; left: 100px" *ngIf="!turnedOn">
    <img width="50" src="../../assets/turn-on.jpg" (click)="turnOn()">
  </div>
  <div style="position: absolute; top: 50px; left: 100px" *ngIf="turnedOn">
    <img width="50" src="../../assets/turn-off.jpg" (click)="turnOff()">
  </div>

  <!-- <njk-joystick [position]="{left: '230px', top: '200px'}" #joystick></njk-joystick> -->
  <njk-joystick [position]="{top: '300px', left: '500px'}" #joystick></njk-joystick>

  <div style="position: absolute; top: 50px; left: 300px" class="rotate0">
    <img width="50" src="../../assets/brake.png" (click)="brake()">
  </div>

  <div *ngIf="!serverConnected" style="position: absolute; top: 270px; left: 100px">
    <span>Server not connected</span>
  </div>

</div>
