
<div style="position: absolute; height: 650px; width: 550px; border-style: solid; border-color: black; margin: 10px" 
    id="container" #container>
  
    <div style="text-align:center" style="position: absolute; top: 655px; left: 600px" class="">
      accX <span class="dynamics">{{accXViewVal}}</span>
    </div>
    <div style="text-align:center" style="position: absolute; top: 655px; left: 700px" class="">
      velX <span class="dynamics">{{velXViewVal}}</span>
    </div>
    <div style="text-align:center" style="position: absolute; top: 655px; left: 800px" class="">
      accY <span class="dynamics">{{accYViewVal}}</span>
    </div>
    <div style="text-align:center" style="position: absolute; top: 655px; left: 900px" class="">
      velY <span class="dynamics">{{velYViewVal}}</span>
    </div>
  
</div>
  