/* https://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html */

.rotate0 {
    /* -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg); */
    transform: rotate(0deg);
}

.rotate180 {
    /* -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg); */
    transform: rotate(180deg);
}

.rotate90 {
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); */
    transform: rotate(90deg);
}

.rotate270 {
    /* -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg); */
    transform: rotate(270deg);
}

.dynamics {
    margin-left: 10px
}
